In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('dirty_cafe_sales.csv')
df.head(5)
df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_6170729,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [4]:
df['Item'].isna().sum()

np.int64(333)

In [6]:
df=df.dropna(subset='Item')

In [35]:
df['Item'].isna().sum()

np.int64(0)

In [8]:
#getting the rows in the quantity column where the price per unit and total spent both exists
df.loc[df['Price Per Unit'].notna() & df['Total Spent'].notna() & df['Quantity'].isna(),'Quantity'].shape[0]

131

In [9]:
#Getting the total null roes in the quantity regardless of the condition
df['Quantity'].isna().sum()

np.int64(135)

In [10]:
#getting unique values from the Quantity
df['Quantity'].unique()

array(['2', '4', '5', '3', '1', 'ERROR', 'UNKNOWN', nan], dtype=object)

In [11]:
#Replacing the ERROR and UNKNOWN WITH NULL
df['Quantity']=df['Quantity'].replace('ERROR',np.nan)
df['Quantity']=df['Quantity'].replace('UNKNOWN',np.nan)

In [12]:
#getting unique values from the Quantity
df['Quantity'].unique()

array(['2', '4', '5', '3', '1', nan], dtype=object)

In [15]:
#Converting The Data Type Of The Column
df['Quantity']=df['Quantity'].astype('Int64')

In [16]:
#Getting the total null rows in the quantity regardless of the condition
df['Quantity'].isna().sum()

np.int64(461)

In [17]:
#getting the rows in the quantity column where the price per unit and total spent both exists
df.loc[df['Price Per Unit'].notna() & df['Total Spent'].notna() & df['Quantity'].isna(),'Quantity'].shape[0]

450

In [18]:
#getting unique values from the Quantity
df['Quantity'].unique()

<IntegerArray>
[2, 4, 5, 3, 1, <NA>]
Length: 6, dtype: Int64

In [20]:
#getting unique values in total spent column
df['Total Spent'].unique()

array(['4.0', '12.0', 'ERROR', '10.0', '20.0', '9.0', '16.0', '25.0',
       '8.0', '5.0', '3.0', '15.0', '6.0', nan, 'UNKNOWN', '2.0', '1.0',
       '7.5', '4.5', '1.5'], dtype=object)

In [22]:
#Replacing the UNKNOWN and ERROR in the Total Spent Column with null
df['Total Spent']=df['Total Spent'].replace('UNKNOWN',np.nan)
df['Total Spent']=df['Total Spent'].replace('ERROR',np.nan)

In [23]:
#getting unique values in total spent column
df['Total Spent'].unique()

array(['4.0', '12.0', nan, '10.0', '20.0', '9.0', '16.0', '25.0', '8.0',
       '5.0', '3.0', '15.0', '6.0', '2.0', '1.0', '7.5', '4.5', '1.5'],
      dtype=object)

In [24]:
# Converting the datatype to float from str
df['Total Spent']=df['Total Spent'].astype('Float64')

In [25]:
#getting unique values in total spent column
df['Total Spent'].unique()

<FloatingArray>
[ 4.0, 12.0, <NA>, 10.0, 20.0,  9.0, 16.0, 25.0,  8.0,  5.0,  3.0, 15.0,  6.0,
  2.0,  1.0,  7.5,  4.5,  1.5]
Length: 18, dtype: Float64

In [ ]:
#Getting the unique values in the Price Per Unit Column
df['Price Per Unit'].unique()

array(['2.0', '3.0', '1.0', '5.0', '4.0', '1.5', nan, 'ERROR', 'UNKNOWN'],
      dtype=object)

In [ ]:
#replacing ERROR And UNKNOWN ->null
df['Price Per Unit']=df['Price Per Unit'].replace('ERROR',np.nan)
df['Price Per Unit']=df['Price Per Unit'].replace('UNKNOWN',np.nan)

In [28]:
#Getting the unique values in the Price Per Unit Column
df['Price Per Unit'].unique()

array(['2.0', '3.0', '1.0', '5.0', '4.0', '1.5', nan], dtype=object)

In [29]:
#str->float
df['Price Per Unit']=df['Price Per Unit'].astype('Float64')

In [30]:
#Getting the unique values in the Price Per Unit Column
df['Price Per Unit'].unique()

<FloatingArray>
[2.0, 3.0, 1.0, 5.0, 4.0, 1.5, <NA>]
Length: 7, dtype: Float64

In [31]:
#getting the data types of quantity, Total Spent And Price Per Unit
df['Quantity'].dtype
df['Total Spent'].dtype
df['Price Per Unit'].dtype

Float64Dtype()

In [32]:
#Replacint The null values in the Quantity=Total Spent/Price Per Unit
mask=(
    df['Total Spent'].notna() &
    df['Price Per Unit'].notna() &
    df['Quantity'].isna()
)

df.loc[mask,'Quantity']=df.loc[mask,'Total Spent'] / df.loc[mask,'Price Per Unit']

In [37]:
#getting the rows in the quantity column where the price per unit and total spent both exists
df.loc[df['Price Per Unit'].notna() & df['Total Spent'].notna() & df['Quantity'].isna(),'Quantity'].shape[0]

0

In [36]:
#Getting the total null rows in the quantity regardless of the condition
df['Quantity'].isna().sum()

np.int64(37)

In [38]:
df=df.dropna(subset='Quantity')

In [39]:
#Getting the total null rows in the quantity regardless of the condition
df['Quantity'].isna().sum()

np.int64(0)

In [40]:
df['Total Spent'].unique()

<FloatingArray>
[ 4.0, 12.0, <NA>, 10.0, 20.0,  9.0, 16.0, 25.0,  8.0,  5.0,  3.0, 15.0,  6.0,
  2.0,  1.0,  7.5,  4.5,  1.5]
Length: 18, dtype: Float64

In [41]:
mask1=(
    df['Quantity'].notna() &
    df['Price Per Unit'].notna() &
    df['Total Spent'].isna()
)

df.loc[mask1,'Total Spent']=df.loc[mask1,'Quantity'] * df.loc[mask1,'Price Per Unit']

In [42]:
df['Total Spent'].isna().sum()

np.int64(19)

In [43]:
df=df.dropna(subset='Total Spent')

In [44]:
df['Price Per Unit'].unique()

<FloatingArray>
[2.0, 3.0, 1.0, 5.0, 4.0, 1.5, <NA>]
Length: 7, dtype: Float64

In [45]:
df['Price Per Unit'].isna().sum()

np.int64(474)

In [46]:
df.loc[df['Quantity'].notna() & df['Total Spent'].notna() & df['Price Per Unit'].isna(), 'Price Per Unit'].shape[0]

474

In [49]:
mask2=(
    df['Quantity'].notna() & 
    df['Total Spent'].notna() & 
    df['Price Per Unit'].isna()
)

df.loc[mask2,'Price Per Unit']=df.loc[mask2,'Total Spent'] / df.loc[mask2,'Quantity']

In [50]:
df['Price Per Unit'].isna().sum()

np.int64(0)

In [51]:
df.loc[df['Quantity'].notna() & df['Total Spent'].notna() & df['Price Per Unit'].isna(), 'Price Per Unit'].shape[0]

0

In [52]:
df.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
14,TXN_8915701,ERROR,2,1.5,3.0,NaN,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,NaN,NaN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,ERROR,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,5,4.0,20.0,Cash,In-store,2023-04-04

In [53]:
df['Payment Method'].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', 'ERROR', nan],
      dtype=object)

In [56]:
df[df['Price Per Unit'] == 3]['Item'].value_counts()

Item
Juice      1167
Cake       1134
UNKNOWN      81
ERROR        81
Name: count, dtype: int64

In [57]:
df=df[df['Item']!='UNKNOWN']
df=df[df['Item']!='ERROR']

In [58]:
df.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,NaN,NaN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,ERROR,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,5,4.0,20.0,Cash,In-store,2023-04-04
21,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-03-30
22,TXN_5132361,Sandwich,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-01

In [59]:
df.shape[0]

8979

In [60]:
df['Payment Method'].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', nan, 'ERROR'],
      dtype=object)

In [61]:
df['Payment Method']=df['Payment Method'].replace('ERROR','UNKNOWN')
df['Payment Method']=df['Payment Method'].replace(np.nan,'UNKNOWN')

In [62]:
df['Payment Method'].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet'], dtype=object)

In [63]:
df.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
9,TXN_2064365,Sandwich,5,4.0,20.0,UNKNOWN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,UNKNOWN,Takeaway,2023-06-01
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,UNKNOWN,NaN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,ERROR,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,5,4.0,20.0,Cash,In-store,2023-04-04
21,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-03-30
22,TXN_5132361,Sandwich,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-01

In [64]:
df['Location'].unique()

array(['Takeaway', 'In-store', 'UNKNOWN', nan, 'ERROR'], dtype=object)

In [65]:
df['Location']=df['Location'].replace(np.nan,"UNKNOWN")
df['Location']=df['Location'].replace('ERROR',"UNKNOWN")

In [66]:
df['Location'].unique()

array(['Takeaway', 'In-store', 'UNKNOWN'], dtype=object)

In [67]:
df.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,UNKNOWN,2023-03-31
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
9,TXN_2064365,Sandwich,5,4.0,20.0,UNKNOWN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,UNKNOWN,Takeaway,2023-06-01
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,UNKNOWN,UNKNOWN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,UNKNOWN,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,5,4.0,20.0,Cash,In-store,2023-04-04
21,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-03-30
22,TXN_5132361,Sandwich,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-01

In [68]:
df['Transaction Date'].unique()

array(['2023-09-08', '2023-05-16', '2023-07-19', '2023-04-27',
       '2023-06-11', '2023-03-31', '2023-10-28', '2023-12-31',
       '2023-11-07', 'ERROR', '2023-05-03', '2023-06-01', '2023-11-15',
       '2023-06-10', '2023-02-24', '2023-03-25', '2023-01-15',
       '2023-04-04', '2023-03-30', '2023-12-01', '2023-09-18',
       '2023-06-03', '2023-12-13', '2023-04-20', '2023-04-10',
       '2023-03-11', '2023-08-15', '2023-10-09', '2023-05-28',
       '2023-04-29', '2023-06-08', '2023-06-29', '2023-04-17',
       '2023-12-22', '2023-01-10', '2023-10-02', '2023-02-23',
       '2023-03-22', '2023-11-03', '2023-03-02', '2023-06-26',
       '2023-05-02', '2023-09-05', '2023-01-08', '2023-11-25',
       '2023-12-05', '2023-03-19', '2023-06-27', '2023-04-19',
       '2023-10-07', '2023-09-30', '2023-05-27', '2023-10-03',
       '2023-10-27', '2023-01-31', '2023-06-19', '2023-12-14',
       '2023-07-16', '2023-02-22', nan, '2023-06-02', '2023-06-15',
       '2023-12-09', '2023-04-18', '2023-10-29', '2023-04-30',
       '2023-04-02', '2023-08-16', '2023-09-10', '2023-03-07',
       '2023-08-07', '2023-08-20', '2023-04-15', '2023-07-25',
       '2023-12-15', '2023-02-25', '2023-04-03', '2023-10-08',
       '2023-12-28', '2023-08-30', '2023-02-03', '2023-09-12',
       '2023-05-04', '2023-02-21', 'UNKNOWN', '2023-03-16', '2023-03-29',
       '2023-06-18', '2023-09-23', '2023-01-14', '2023-09-14',
       '2023-09-16', '2023-02-06', '2023-04-08', '2023-12-19',
       '2023-07-14', '2023-12-12', '2023-01-05', '2023-01-23',
       '2023-02-20', '2023-12-06', '2023-05-31', '2023-08-11',
       '2023-09-03', '2023-07-11', '2023-06-06', '2023-01-18',
       '2023-03-23', '2023-06-23', '2023-08-03', '2023-07-12',
       '2023-11-02', '2023-07-31', '2023-09-19', '2023-02-09',
       '2023-05-21', '2023-07-02', '2023-11-21', '2023-12-02',
       '2023-03-13', '2023-08-12', '2023-02-16', '2023-04-11',
       '2023-03-26', '2023-11-01', '2023-07-22', '2023-07-26',
       '2023-02-28', '2023-01-27', '2023-01-19', '2023-04-07',
       '2023-03-20', '2023-12-27', '2023-10-26', '2023-05-15',
       '2023-12-10', '2023-04-21', '2023-02-04', '2023-11-12',
       '2023-08-05', '2023-05-10', '2023-07-15', '2023-01-11',
       '2023-10-01', '2023-04-26', '2023-03-01', '2023-11-13',
       '2023-07-09', '2023-05-13', '2023-05-18', '2023-01-17',
       '2023-09-22', '2023-08-22', '2023-07-27', '2023-12-21',
       '2023-09-28', '2023-11-16', '2023-04-14', '2023-10-20',
       '2023-01-12', '2023-08-31', '2023-07-07', '2023-10-21',
       '2023-09-02', '2023-08-19', '2023-01-06', '2023-07-10',
       '2023-10-13', '2023-05-29', '2023-05-22', '2023-11-23',
       '2023-11-14', '2023-11-26', '2023-12-17', '2023-10-22',
       '2023-06-30', '2023-04-25', '2023-12-11', '2023-10-12',
       '2023-07-04', '2023-01-28', '2023-10-04', '2023-02-26',
       '2023-11-06', '2023-10-11', '2023-02-14', '2023-04-28',
       '2023-09-06', '2023-04-23', '2023-01-22', '2023-03-10',
       '2023-01-09', '2023-12-03', '2023-08-06', '2023-12-29',
       '2023-02-15', '2023-05-25', '2023-10-31', '2023-02-27',
       '2023-04-06', '2023-03-03', '2023-09-27', '2023-08-18',
       '2023-05-12', '2023-07-06', '2023-08-09', '2023-05-14',
       '2023-07-18', '2023-03-21', '2023-10-10', '2023-09-26',
       '2023-03-15', '2023-01-13', '2023-10-16', '2023-11-17',
       '2023-12-20', '2023-12-04', '2023-02-08', '2023-09-11',
       '2023-02-01', '2023-02-12', '2023-03-14', '2023-09-29',
       '2023-04-22', '2023-08-25', '2023-07-28', '2023-12-08',
       '2023-02-18', '2023-06-13', '2023-12-24', '2023-03-28',
       '2023-02-11', '2023-01-30', '2023-04-09', '2023-04-16',
       '2023-12-23', '2023-03-05', '2023-03-24', '2023-07-23',
       '2023-07-29', '2023-01-03', '2023-03-12', '2023-06-05',
       '2023-10-19', '2023-01-07', '2023-07-20', '2023-05-07',
       '2023-08-10', '2023-10-24', '2023-08-13', '2023-08-28',
       '2023-06-21', '2023-09-15', '2023-06-20', '2023-11-10',
       '2023-10-18', '2023-05-19', '2023-11-09', '2023-07-17',
       '2023-06-24', '2023-05-11', '2023-09-01', '2023-01-04',
       '2023-12-16', '2023-09-25', '2023-03-06', '2023-05-09',
       '2023-06-22', '2023-05-30', '2023-04-24', '2023-09-20',
       '2023-02-07', '2023-05-05', '2023-02-10', '2023-11-24',
       '2023-10-25', '2023-07-21', '2023-02-19', '2023-08-14',
       '2023-07-08', '2023-09-04', '2023-10-14', '2023-06-28',
       '2023-09-09', '2023-08-21', '2023-07-01', '2023-06-14',
       '2023-03-09', '2023-11-08', '2023-09-13', '2023-05-23',
       '2023-11-29', '2023-04-01', '2023-06-09', '2023-08-23',
       '2023-10-05', '2023-10-30', '2023-08-08', '2023-08-27',
       '2023-05-26', '2023-06-16', '2023-12-25', '2023-01-25',
       '2023-10-23', '2023-05-06', '2023-05-24', '2023-01-29',
       '2023-08-29', '2023-01-01', '2023-02-02', '2023-07-24',
       '2023-04-12', '2023-08-24', '2023-09-21', '2023-10-15',
       '2023-05-01', '2023-02-05', '2023-01-24', '2023-01-02',
       '2023-06-12', '2023-01-16', '2023-10-17', '2023-03-04',
       '2023-06-17', '2023-03-18', '2023-08-26', '2023-07-05',
       '2023-05-17', '2023-11-22', '2023-08-17', '2023-11-19',
       '2023-11-27', '2023-06-04', '2023-11-18', '2023-09-17',
       '2023-11-28', '2023-06-25', '2023-12-18', '2023-04-13',
       '2023-01-26', '2023-08-04', '2023-05-08', '2023-12-30',
       '2023-12-26', '2023-11-20', '2023-12-07', '2023-07-13',
       '2023-09-24', '2023-01-21', '2023-03-08', '2023-11-04',
       '2023-09-07', '2023-11-30', '2023-08-02', '2023-04-05',
       '2023-08-01', '2023-01-20', '2023-10-06', '2023-11-11',
       '2023-06-07', '2023-02-13', '2023-07-30', '2023-02-17',
       '2023-05-20', '2023-11-05', '2023-03-17', '2023-03-27',
       '2023-07-03'], dtype=object)

In [69]:
df['Transaction Date']=df['Transaction Date'].replace(np.nan,'UNKNOWN')

In [70]:
df['Transaction Date']=df['Transaction Date'].replace('ERROR','UNKNOWN')

In [71]:
df.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,UNKNOWN,2023-03-31
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
9,TXN_2064365,Sandwich,5,4.0,20.0,UNKNOWN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,UNKNOWN
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,UNKNOWN,Takeaway,2023-06-01
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,UNKNOWN,UNKNOWN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,UNKNOWN,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,5,4.0,20.0,Cash,In-store,2023-04-04
21,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-03-30
22,TXN_5132361,Sandwich,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-01

In [72]:
df.to_csv('CLEANED_CAFE_SALES.csv',index=False)