In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('dirty_cafe_sales.csv')

In [3]:
df.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
14,TXN_8915701,ERROR,2,1.5,3.0,NaN,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,NaN,NaN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,ERROR,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15

In [4]:
df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_6170729,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [5]:
df['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', nan, 'ERROR', 'Juice', 'Tea'], dtype=object)

In [4]:
df=df[df['Item']!='ERROR']

In [8]:
df.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,NaN,NaN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,ERROR,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,ERROR,4.0,20.0,Cash,In-store,2023-04-04

In [9]:
df['Item'].isna().sum()

np.int64(333)

In [5]:
df=df.dropna(subset=['Item'])

In [6]:
df['Item'].isna().sum()

np.int64(0)

In [12]:
df['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', 'Juice', 'Tea'], dtype=object)

In [7]:
df=df[df['Item']!='UNKNOWN']

In [14]:
df['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'Sandwich',
       'Juice', 'Tea'], dtype=object)

In [15]:
df.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,NaN,NaN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,ERROR,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,ERROR,4.0,20.0,Cash,In-store,2023-04-04
21,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-03-30
22,TXN_5132361,Sandwich,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-01

In [ ]:
#counting such rows in the quantity column where values exists for both Price Per Unit Column and Total Spent Column
df.loc[df['Price Per Unit'].notna() & df['Total Spent'].notna() & df['Quantity'].isna(), 'Quantity'].shape[0]

117

In [10]:
df['Quantity'].unique()

array(['2', '4', '5', '3', '1', 'ERROR', 'UNKNOWN', nan], dtype=object)

In [11]:
#Replacing the str values in the quantity column in int
df['Quantity']=df['Quantity'].replace('ERROR','0')
df['Quantity']=df['Quantity'].replace('UNKNOWN','0')

In [12]:
df['Quantity'].unique()

array(['2', '4', '5', '3', '1', '0', nan], dtype=object)

In [13]:
df['Quantity']=df['Quantity'].astype('Int64')

In [14]:
df['Quantity'].unique()

<IntegerArray>
[2, 4, 5, 3, 1, 0, <NA>]
Length: 7, dtype: Int64

In [16]:
# Making The Rows Null Where Value Is 0
import numpy as np

df.loc[df['Quantity']==0]=np.nan

In [17]:
df['Quantity'].unique()

<IntegerArray>
[2, 4, 5, 3, 1, <NA>]
Length: 6, dtype: Int64

In [19]:
df['Total Spent'].unique()

array(['4.0', '12.0', 'ERROR', '10.0', '20.0', '16.0', '25.0', '8.0',
       '5.0', '15.0', '6.0', nan, 'UNKNOWN', '2.0', '9.0', '1.0', '3.0',
       '7.5', '4.5', '1.5'], dtype=object)

In [20]:
df['Price Per Unit'].unique()

array(['2.0', '3.0', '1.0', '5.0', '4.0', nan, '1.5', 'ERROR', 'UNKNOWN'],
      dtype=object)

In [21]:
import numpy as np
df['Total Spent']=df['Total Spent'].replace('UNKNOWN',np.nan)
df['Total Spent']=df['Total Spent'].replace('ERROR',np.nan)
df['Price Per Unit']=df['Price Per Unit'].replace('UNKNOWN',np.nan)
df['Price Per Unit']=df['Price Per Unit'].replace('ERROR',np.nan)

In [22]:
df['Total Spent'].unique()

array(['4.0', '12.0', nan, '10.0', '20.0', '16.0', '25.0', '8.0', '5.0',
       '15.0', '6.0', '2.0', '9.0', '1.0', '3.0', '7.5', '4.5', '1.5'],
      dtype=object)

In [23]:
df['Price Per Unit'].unique()

array(['2.0', '3.0', '1.0', '5.0', '4.0', nan, '1.5'], dtype=object)

In [24]:
df['Total Spent']=df['Total Spent'].astype('float64')
df['Price Per Unit']=df['Price Per Unit'].astype('float64')

In [25]:
# filling the rows in the quantity column where their is 0 
mask=(
    df['Total Spent'].notna() &
    df['Price Per Unit'].notna() &
    df['Quantity'].isna()
)

df.loc[mask,'Quantity']=df.loc[mask,'Total Spent'] / df.loc[mask,'Price Per Unit']

In [26]:
#counting such rows in the quantity column where values exists for both Price Per Unit Column and Total Spent Column
df.loc[df['Price Per Unit'].notna() & df['Total Spent'].notna() & df['Quantity'].isna(), 'Quantity'].shape[0]

0

In [34]:
df['Quantity'].isna().sum()

np.int64(312)

In [ ]:
df.head(30)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,NaN,NaN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,ERROR,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN
21,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-03-30
22,TXN_5132361,Sandwich,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-01
23,TXN_2616390,Sandwich,2,4.0,8.0,NaN,NaN,2023-09-18
24,TXN_9400181,Sandwich,5,4.0,20.0,Cash,In-store,2023-06-03
25,TXN_7958992,Smoothie,3,4.0,NaN,UNKNOWN,UNKNOWN,2023-12-13
26,TXN_5183041,Cookie,5,1.0,5.0,Credit Card,In-store,2023-04-20
27,TXN_5695074,Juice,4,3.0,12.0,Credit Card,Takeaway,2023-04-10
28,TXN_8467949,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-11
29,TXN_7640952,Cake,4,3.0,12.0,Digital Wallet,Takeaway,ERROR
32,TXN_9677376,Smoothie,4,4.0,16.0,NaN,In-store,2023-08-15
34,TXN_8853997,Smoothie,2,4.0,8.0,Digital Wallet,Takeaway,2023-10-09
35,TXN_9130559,Sandwich,1,4.0,4.0,Credit Card,UNKNOWN,2023-05-28

In [38]:
df.shape[0]

8719

In [36]:
df=df.dropna(subset='Quantity')

In [37]:
df['Quantity'].isna().sum()

np.int64(0)

In [39]:
df['Total Spent'].isna().sum()

np.int64(432)

In [ ]:
# getting the rows null rows in the total spent column where quantity and price per unit exists for them 
df.loc[df['Quantity'].notna() & df['Price Per Unit'].notna() & df['Total Spent'].isna(),'Total Spent'].shape[0]

415

In [41]:
mask1=(
    df['Quantity'].notna() &
    df['Price Per Unit'].notna() &
    df['Total Spent'].isna()
)

df.loc[mask1,'Total Spent']=df.loc[mask1,'Quantity']*df.loc[mask1,'Price Per Unit']

In [42]:
df['Total Spent'].isna().sum()

np.int64(17)

In [43]:
df=df.dropna(subset='Total Spent')

In [44]:
df['Price Per Unit'].isna().sum()

np.int64(447)

In [45]:
# getting the rows null rows in the total spent column where quantity and price per unit exists for them 
df.loc[df['Quantity'].notna() & df['Total Spent'].notna() & df['Price Per Unit'].isna(),'Price Per Unit'].shape[0]

447

In [46]:
mask2=(
    df['Quantity'].notna() &
    df['Price Per Unit'].isna() &
    df['Total Spent'].notna()
)

df.loc[mask2,'Price Per Unit']=df.loc[mask2,'Total Spent'] / df.loc[mask2,'Quantity']

In [47]:
# getting the rows null rows in the total spent column where quantity and price per unit exists for them 
df.loc[df['Quantity'].notna() & df['Total Spent'].notna() & df['Price Per Unit'].isna(),'Price Per Unit'].shape[0]

0

In [48]:
df['Price Per Unit'].isna().sum()

np.int64(0)